@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  font-family: "Heebo";
  color: #333;
}

h1 {
  color: #fa5788;
  font-size: 50px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.completed{
  color: #fa5788;
}

.list-container{
  display: flex;
}

#todo-container{
  flex: 1;
  margin-right: 40px;
  margin-left: 40px;
  background-color: rgba(255, 182, 193, 0.5);
  border-radius: 10px;
  padding: 10px;
}

#todo-container h2{
  white-space: nowrap;
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
}

.completed span{
  color: #fa5788;
  margin-right: 10px;
}