@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  font-family: "Heebo";
  color: #333;
}

h1 {
  color: #fa5788;
  font-size: 50px;
  font-family: 'Heebo';
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.completed-todos{
  color: #fa5788;
}

.list-container{
  display: flex;
}

.list-container h2{
  font-family: 'DM Sans';
  white-space: nowrap;
}

.list-container button{
  margin-left: 10px;
}

.list-container input{
  margin-right: 3px;
}

.todo-container li{
  white-space: nowrap;
}

#list{
  flex: 1;
  margin-right: 40px;
  margin-left: 40px;
  background-color: rgba(255, 182, 193, 0.5);
  border-radius: 10px;
  padding: 10px;
}

#list h2{
  text-align: center;
}